@page
@model TourneyPlaner.Pages.FavoriteMatchup.EditModel
@{
}
<br />
<h2>Edit Player</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Matchup ID</th>
            <th>User ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="number" id="ID" name="ID" />
            </td>
            <td>
                <input type="number" id="MatchupID" name="Matchup ID" />
            </td>
            <td>
                <input type="number" id="UserID" name="User ID" />
            </td>
        </tr>
    </tbody>
</table>

