@page
@model TourneyPlaner.Pages.Team.TeamModel
@{
}
<!--Page for handling teams in database-->
<br />
<h2>List of Teams</h2>
<a class='btn btn-primary btn-sm' href='/Team/CreateTeam'>New Team</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <!--Retrieves all the team objects from list-->
        @foreach (var team in Model.teamList)
        {
            <tr>
                <td>@team.Id</td>
                <td>@team.Name</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Team/EditTeam?id=@team.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Team/DeleteTeam?id=@team.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>