@page
@model TourneyPlaner.Pages.User.EditModel
@{
}
<!--Form for editing a user-->
<br />
<h2>Edit User</h2>
<br />
<div class="container border" style="padding:20px">
    <form method="post">
        <div class"text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="userEdit.email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="userEdit.email" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="userEdit.email"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="userEdit.passwordHash"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="userEdit.passwordHash" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="userEdit.passwordHash"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="userEdit.salt"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="userEdit.salt" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="userEdit.salt"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>