@page
@model TourneyPlaner.Pages.Player.EditModel
@{
}
<br />
<h2>Edit Player</h2>
<table class="table">
    <thead>
        <tr>
            <th>TeamID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="number" id="TeamID" name="TeamID" />
            </td>
            <td>
                <input type="text" id="FirstName" name="FirstName" />
            </td>
            <td>
                <input type="text" id="LastName" name="LastName" />
            </td>
            <td>
                @* <a class="btn btn-primary btn-sm" href=@Model.EditPlayer()>Submit Changes</a> *@
                <input type="button" id="btn" runat="server" onclick=@Model.submitChanges/>trdfygubhnijmkol
            </td>
        </tr>
    </tbody>
</table>

