@page
@model TourneyPlaner.Pages.Player.PlayerModel
@{
}
<br />
<h2>List of Players</h2>
<a class='btn btn-primary btn-sm' href='/Player/Create'>New Player</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>TeamID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.listPlayer)
        {
            <tr>
                <td>@player.playerID</td>
                <td>@player.teamID</td>
                <td>@player.firstName</td>
                <td>@player.lastName</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Player/EditPlayer?id=@player.playerID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Player/DeletePlayer?id=@player.playerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>